# Auto detect text files and perform LF normalization
* text=auto
# To create new release run:
#   
#   git tag [ex. v2.3.0]
#   git push origin [tag^]
#
#   current Version: v1.0.6
#   current Test: t1.0.0
